.home-section {
    padding: 70px 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}


@media (max-width: 768px) {

      .home-section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 20px;
  }
}