nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 300px;
  background-color: white;
}

nav a {
  color: black;
  font-size: 22px;
  font-weight: 400;
}

nav .logout button {
  border: 2px solid var(--primary);
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  color: var(--primary);
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 400px;
}

nav .logout span {
  margin-right: 10px;
}

nav .auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

nav .auth a {
  color: black;
  font-size: 20px;
}

@media (max-width: 768px) {

    nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 15px 0;
    gap: 10px;
  }

  nav a {
    font-size: 18px;
  }

  nav .auth {
    gap: 15px;
    flex-wrap: wrap;
  }

  nav .logout button {
    padding: 6px 20px;
    font-size: 15px;
  }
}